/screenshot_game.png
/screenshot_game_started.png
/screenshot_gameplay.png
/screenshot_menu.png

# Dependencies
node_modules/

# Build output
dist/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?